<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/utils/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div layout:fragment="contenuto" class="flex items-center justify-center gap-4 flex-col mt-4">
    <div class="container mx-auto">
        <div class="w-full max-w-sm p-4 mx-auto bg-white shadow-md rounded-lg">
            <h1 class="text-2xl font-bold text-center mb-4">Registrazione</h1>

            <form action="/api/registrazione/submit" method="post">
                <div class="mb-4">
                    <label for="nome" class="block text-gray-700">Nome:</label>
                    <input type="text" id="nome" name="nome"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>
                <div class="mb-4">
                    <label for="cognome" class="block text-gray-700">Cognome:</label>
                    <input type="text" id="cognome" name="cognome"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>
                <!--                Sesso-->
                <div>
                    <label for="sesso">Sesso:</label>
                    <select id="sesso" name="sesso" class="border " required>
                        <option value="Maschio">Maschio</option>
                        <option value="Femmina">Femmina</option>
                        <option value="Altro">Altro</option>
                    </select>
                </div>
                <!--                Indirizzo-->
                <div class="mb-4">
                    <label for="indirizzo" class="block text-gray-700">Indirizzo:</label>
                    <input type="text" id="indirizzo" name="indirizzo"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>

                <!--                Nazione-->
                <div class="mb-4">
                    <label for="nazione" class="block text-gray-700">Nazione:</label>
                    <input type="text" id="nazione" name="nazione"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>

                <!--         Numero di Telefono       -->

                <div>
                    <label for="numeroTelefono" class="block text-gray-700">Numero di Telefono:</label>
                    <input type="tel" id="numeroTelefono" name="numeroTelefono"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>

                <!--                Email-->
                <div>
                    <label for="email" class="block text-gray-700">Email:</label>
                    <input type="email" id="email" name="email"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>

                <!--          Password      -->
                <div class="mb-4">
                    <label for="password" class="block text-gray-700">Password:</label>
                    <input type="password" id="password" name="password"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>

                <!--Conferma Password-->
                <div>
                    <label for="confermaPassword" class="block text-gray-700">Conferma Password:</label>
                    <input type="password" id="confermaPassword" name="confermaPassword"
                           class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                           required>
                </div>
                <!--                Tipo Utente-->
                <input type="hidden" id="tipoUtente" name="tipoUtente" value="normale" required>

                <!--                Gestione Errore-->
                <div th:if="${error}" class="text-red-500 text-lg font-medium my-2 text-center">
                    <p th:text="${error}"></p>
                </div>
                <button type="submit"
                        class="w-full mt-4 py-2 px-4 bg-blue-500 text-white font-medium rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Registrati
                </button>
            </form>

        </div>
    </div>

</div>
</body>
</html>
