<!DOCTYPE html>
<html lang="it" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="/utils/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div  layout:fragment="contenuto">

    <div class="container bg-bianco2 min-h-screen mx-auto">

        <div class="">
            <h6 class=" text-verde1 py-10 font-extrabold text-5xl  text-center" th:text="${datiDettagli.nomeEvento}">
            </h6>
        </div>

        <div class="grid-cols-2 grid">
            <div class="aspect-square bg-blue-500 ">
                <div class="aspect-[3/4] bg-verde1 m-10">
                    <img class="w-full rounded-3xl" alt="Locandina dell'evento" th:src="${datiDettagli.getLink_img()}" />
                </div>
            </div>

            <div class="aspect-square">
                <div class="aspect-[3/4] m-10 bg-[#FFE8A3] border-verde1 border-2 p-8 rounded-lg">

                    <div class="flex flex-col">

                        <div class="text-3xl font-extrabold text-verde1 text-center">
                            DETTAGLI
                        </div>
                        <div class="text-2xl text-verde1 text-center">
                            Numero Partecipanti
                        </div>
                        <div class="pb-3 flex flex-row justify-between relative">
                            <div class="text-2xl text-verde1">
                                0
                            </div>
                            <div class="text-2xl text-verde1">
                                max:70
                            </div>
                            <div class="h-[6px] bg-black rounded-full w-[75%] absolute  bottom-[-4px]"></div>
                            <!-- <div class="h-[6px] bg-black rounded-full w-full absolute top-0 bottom-[-4px]"></div> -->
                            <div class="rounded-full text-white bg-black px-2 py-1 absolute bottom-[-16px]
                            transform -translate-x-[50%] left-[75%]">
                                75
                            </div>
                        </div>

                        <div class="h-[2px] bg-verde1 rounded-full w-full"> </div>

                        <div class="py-3 flex flex-row justify-between">
                            <div class="text-2xl text-verde1">
                                Costo biglietti
                            </div>
                            <div class="text-2xl text-verde1 flex flex-row">
                                <img src="/icons/money_details.svg" alt="icona" class="w-8 h-8 mr-2">
                                10$
                            </div>
                        </div>

                        <div class="h-[2px] bg-verde1 rounded-full w-full"> </div>

                        <div class="py-3 flex flex-row justify-between">
                            <div class="text-2xl text-verde1">
                                Durata
                            </div>
                            <div class="text-2xl text-verde1">

                                2:20h
                            </div>
                        </div>

                        <div class="h-[2px] bg-verde1 rounded-full w-full"> </div>

                        <div class="py-3 flex flex-row justify-between">
                            <div class="text-2xl text-verde1">
                                Tema evento
                            </div>
                            <div class="text-2xl text-verde1">
                                Gara di ballo
                            </div>
                        </div>

                        <div class="h-[2px] bg-verde1 rounded-full w-full"> </div>

                        <div class="py-3 flex flex-row justify-between">
                            <div class="">
                                <img src="" loading="lazy" alt="" class="w-8 h-8">
                                <p class="text-2xl text-verde1" th:text="${#temporals.format(datiDettagli.getDataOraEvento(), 'yyyy-MM-dd')}"> </p>

                            </div>
                            <div class="text-2xl text-verde1">
                                03/12/2024
                            </div>
                        </div>

                        <div class="h-[2px] bg-verde1 rounded-full w-full"> </div>

                        <div class="py-3 flex flex-row justify-between ">
                            <div class="text-2xl text-verde1">
                                Luogo
                            </div>
                            <div class="text-2xl text-verde1">
                                L'Aquila via Roma
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>



    </div>

    <!--
    <div class="bg-bianco2 m-8 rounded-md py-12 2xl:px-20 md:px-6 px-4">
        <div class="md:flex items-start justify-center">
            <div class="xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
                <img class="w-full rounded-3xl" alt="Locandina dell'evento" th:src="${datiDettagli.getLink_img()}" />

            </div>

            <div class="xl:w-2/5 md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6">
                <div class=" px-6 py-1 pb-2 bg-amber-200 font-semibold text-gray-600 text-center text-xs uppercase rounded-full">
                    <h6 class="lg:text-2xl text-xl font-semibold lg:leading-6 leading-7 text-gray-800 dark:text-black mt-2"
                    th:text="${datiDettagli.nomeEvento}">
                    </h6>
                </div>

                <div class="py-4 border-b border-gray-200 flex items-center justify-between">

                    <div class="flex flex-row items-center">
                        <img src="/marker.svg" loading="lazy" alt="" class="w-8 h-8">
                        <p class="px-2 text-base leading-4 text-gray-800 dark:text-black">Luogo</p>
                    </div>
                    <p class="text-sm leading-none text-gray-600 dark:text-black" th:text="${datiDettagli.getLuogo()}">  </p>
                </div>

                <div class="py-4 border-b border-gray-200 flex items-center justify-between">
                    <div class="flex flex-row items-center">
                        <img src="/date.svg" loading="lazy" alt="" class="w-8 h-8">
                        <p class="px-2 text-base leading-4 text-gray-800 dark:text-black "> Data e Orario</p>
                    </div>
                    <img src="/date.svg" loading="lazy" alt="" class="w-8 h-8">
                    <p class="text-sm leading-none text-gray-600 dark:text-black mr-3" th:text="${#temporals.format(datiDettagli.getDataOraEvento(), 'yyyy-MM-dd')}"> </p>

                </div>

                <div class="px-3 py-2">
                    <p class="text-base leading-4 text-gray-800 dark:text-black"> Descrizione: </p>
                    <p class="xl:pr-48 text-base lg:leading-tight leading-normal text-gray-600 dark:text-black mt-7" th:text="${datiDettagli.getDescrizione()}"> </p>
                </div>

            </div>
        </div>

        <div class=" py-4 border-b border-gray-200 flex items-center justify-between ">

            <div class="flex flex-row items-center justify-center">
                <img src="/farmer.svg" loading="lazy" alt="" class="w-8 h-8">
                <p class="px-2 text-base leading-4 text-gray-800 dark:text-black"> Referente: </p>
                <p class="text-sm leading-none text-gray-600 dark:text-black mr-3" th:text="${datiDettagli.getNomeReferente()}"> </p>
            </div>

            <div class="flex flex-row items-center justify-center">
                <p class="text-base leading-4 text-gray-800 dark:text-black"> Data creazione: </p>
                <p class="text-sm leading-none text-gray-600 dark:text-black mr-3" th:text="${#temporals.format(datiDettagli.getDataOraEvento(), 'yyyy-MM-dd')}"> </p>
            </div>

        </div>
    </div>
    -->
</div>
</body>
</html>