
.font-quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.font-jua {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-titan {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Jua", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb; /* Cambiato colore di sfondo */
    color: #333; /* Cambiato colore del testo principale */
    line-height: 1.6; /* Aggiunto spazio tra le righe */
}

header {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Allinea gli elementi in header */
    position: relative; /* Aggiunto header fisso */
    top: 0;
    z-index: 1000; /* Aggiunto z-index per garantire che l'header sia sopra il contenuto */
}

.titolo {
    flex-grow: 1; /* Fai espandere il titolo per occupare lo spazio rimanente */
    text-align: center; /* Centra il titolo */
}


.image-button {
    height: 48px;
    margin-right: 5px;
}

.titolo h1 {
    margin: 0; /* Rimuovi i margini per il titolo */
}

.login-btn, .custom-btn {
    background-color: #3498db; /* Colore del bottone */
    color: white;
    padding: 10px 20px;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    margin: 5px; /* Margine tra i bottoni */
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/*.container {*/
/*    margin: 0 auto; !* Centrare orizzontalmente la sezione *!*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    border-radius: 10px; !* Aggiunto bordo arrotondato *!*/
/*    background-color: #fff; !* Colore di sfondo *!*/
/*}*/

.big-title {
    font-size: 60px; /* Aumentato dimensione del titolo */
    margin-bottom: 20px;
    color: black; /* Cambiato colore del titolo */
}

.events, .forum {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 45%;
    /*margin-right: 5%;*/
    vertical-align: top;
}

.event-preview, .forum-preview {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 15px;
}

.btn-container {
    display: flex;
    justify-content: center; /* Centrato i bottoni */
    margin-top: 20px;
}

.btn {
    background-color: #d40f0f; /* Cambiato colore dei bottoni */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Aggiunto effetto di transizione */
}

.btn:hover {
    background-color: #27ae60; /* Cambiato colore al passaggio del mouse */
}


