<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/utils/layout" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orto Referente</title>

</head>
<body>
<div layout:fragment="contenuto">
    <!--    Cielo  -->
    <div class="text-3xl md:text-4xl lg:text-6xl text-verde1 text-center w-full bg-celeste2 pt-36 py-8 px-4">Il tuo
        orto
    </div>
    <!--    Cancello -->
    <div class="w-full">
        <img class="w-full" src="/bg/bgOrto.svg" alt="Sfondo di un paesaggio"/>
    </div>
    <!--    Sfondo Verde     -->
    <div class="w-full bg-verde4 min-h-screen pb-52">
        <div class="text-6xl text-verde1" th:text="${ortoReferenteZolle.getNumeroZolle()}">A</div>
        <div class="grid p-8 container mx-auto"
             th:style="'grid-template-columns: repeat(' + ${ortoReferenteZolle.getDimensioneX()} + ', minmax(0, 1fr)); ' +
               'grid-template-rows: repeat(' + ${ortoReferenteZolle.getDimensioneY()} + ', minmax(0, 1fr));'">

            <!--            <div class="" th:insert="~{/components/orto/_zollaDiTerreno :: terra(ortaggio='carota',id='1')}"></div>-->
            <!--            <div class="" th:insert="~{/components/orto/_zollaDiTerreno :: terra(nome='Nickname',id='2')}"></div>-->
            <!--            <div class="" th:insert="~{/components/orto/_zollaDiTerreno :: terra(nome='Nickname',id='3')}"></div>-->
            <!--            <div class="" th:insert="~{/components/orto/_zollaDiTerreno :: terra(nome='Nickname')}"></div>-->

            <div th:each="zolla, iStat : ${ortoReferenteZolle.getNumeroZolle()}"
                 th:insert="~{/components/orto/_zollaDiTerreno :: terra(ortaggio='carota',id=${iStat})}"></div>
        </div>
        <div class="grid grid-cols-5 container mx-auto grid-rows-1 text-center px-8">
            <div class="text-6xl text-verde1 ">1</div>
            <div class="text-6xl text-verde1">2</div>
            <div class="text-6xl text-verde1">3</div>
            <div class="text-6xl text-verde1">4</div>
            <div class="text-6xl text-verde1">5</div>
        </div>

        <div class="p-8 container mx-auto">
            <div class="text-4xl text-verde1 mb-4">Lista Zolle Occupate:</div>
            <div id="desc1" class="w-full rounded-3xl border-verde1 border-8 bg-[#F4F4F4] p-8 text-center text-3xl transition-all duration-300
                   grid grid-cols-1 md:grid-cols-3 justify-items-center place-items-center">
                <!--Parte Sinistra  -->
                <div class="flex flex-col gap-4 text-verde1 text-xl md:text-3xl ">
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/piantina.svg" alt="icona pianta" class="w-10">
                        <div class="">Ortaggio: Carote</div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/semi.svg" alt="icona semi" class="w-10">
                        <div class="">Semina: 02/05/2024</div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/forchettaColtello.svg" alt="icona forchetta e coltello" class="w-10">
                        <div class="">Stima Raccolta: 07/06/2024</div>
                    </div>
                    <div class="flex flex-row items-center gap-4 self-center">
                        <div class="">Stato: in crescita</div>
                        <div class="c100 p75 green aspect-square">
                            <span>75%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Parte Centrale  -->
                <div class="flex flex-col items-center justify-center ">
                    <div class="text-3xl text-verde1">Zolla A2</div>
                    <div class="aspect-[193/125] w-32 my-12"
                         th:insert="~{/components/orto/_zollaDiTerreno :: terra(ortaggio='carota',id='1',noSelect='true')}"></div>
                    <div class="">Tipo terreno: sabbioso</div>
                </div>
                <!--Parte Destra  -->
                <div class="justify-self-end flex flex-col gap-4 text-verde1 text-xl md:text-3xl ">
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/timer.svg" alt="icona timer" class="w-10">
                        <div class="">Data Scadenza: 12/05/2024</div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/farmer1.svg" alt="icona farmer" class="w-10">
                        <div class="">Proprietario: Fabrizio</div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/calendar1.svg" alt="icona calendar" class="w-10">
                        <div class="">In suo possesso da 34 giorni</div>
                    </div>
                </div>
                <div>
                </div>


            </div>
            <script>
                $(document).ready(function () {
                    $("#1").click(function () {
                        $('html, body').animate({
                            scrollTop: $("#desc1").offset().top
                        }, 1000);
                        $("#desc1").css("background-color", "#BAEBB9"); // Evidenzia il div
                        setTimeout(function () {
                            $("#desc1").css("background-color", "#F4F4F4"); // Rimuove lo stile CSS
                        }, 1500);
                    });
                });

            </script>
        </div>
    </div>
</div>
</body>
</html>