<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/utils/layout" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orto Referente</title>

</head>
<body>
<div layout:fragment="contenuto">
    <!--    Cielo  -->
    <div class="text-3xl md:text-4xl lg:text-6xl text-verde1 text-center w-full bg-celeste2 pt-36 py-8 px-4">
        L'Orto <span class="" th:text="${ortoReferente.getNome()}"></span>
    </div>
    <!--    Orto BG -->
    <div class="w-full">
        <img class="w-full" src="/bg/bgOrtoCorto.png" alt="Sfondo di un paesaggio"/>
    </div>
    <!--    Sfondo Verde     -->
    <div class="w-full bg-verde4 min-h-screen">
        <div class="grid p-8 container lg:px-32 mx-auto "  >
        <!--             th:style="'grid-template-columns: repeat(' + ${ortoReferente.getDimensioneX()} + ', minmax(0, 1fr)); ' +-->
        <!--               'grid-template-rows: repeat(' + ${ortoReferente.getDimensioneY()} + ', minmax(0, 1fr));'">-->

        <!-- Inserisco le zolle nel orto-->
        <div th:each="zolla, iStat : ${zolleDelUtente}" class="w-full md:w-1/2 mx-auto">
            <div th:insert="~{/components/orto/_zollaDiTerreno ::  terra(ortaggio=${zolla.getOrtaggio()},id=${zolla.getId()})}"></div>
        </div>
    </div>
    <!--        <div class="grid container lg:px-32 mx-auto grid-rows-1 text-center px-8"-->
    <!--             th:style="'grid-template-columns: repeat(' + ${ortoReferente.getDimensioneX()} + ', minmax(0, 1fr)); '">-->
    <!--            <div class="text-6xl text-verde1 " th:each="i : ${#numbers.sequence(1, ortoReferente.getDimensioneX())}"-->
    <!--                 th:text="${i}"></div>-->
    <!--        </div>-->

    <div class="p-8 container lg:px-32 mx-auto flex flex-col items-center">
        <a href="/user/richiestaZollaAggiuntiva" class="px-4 py-2 bg-giallo1 text-verde1 rounded-full text-center my-12 max-w-[350px]" >Richiedi una zolla aggiuntiva</a>
        <div class="text-4xl text-verde1 mb-4">Lista Zolle Occupate:</div>
        <div th:each="zolla, iStat : ${zolleDelUtente}" class="mt-4">
            <div th:if="${zolla.getOrtaggio() != null}"
                 th:id="'desc-zolla-'+${zolla.getId()}" class="w-full rounded-3xl border-verde1 border-8 bg-[#F4F4F4] p-8 text-center text-3xl transition-all duration-300
                   grid grid-cols-1 md:grid-cols-3 justify-items-center place-items-center">
                <!--Parte Sinistra  -->
                <div class="flex flex-col gap-4 text-verde1 text-xl md:text-2xl ">
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/piantina.svg" alt="icona pianta" class="w-10">
                        <div class="">Ortaggio: <span th:text="${zolla.getOrtaggio()}"></span></div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/semi.svg" alt="icona semi" class="w-10">
                        <div class="">Semina: <span
                                th:text="${#dates.format(zolla.getSemina(), 'yyyy-MM-dd')}"></span></div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/forchettaColtello.svg" alt="icona forchetta e coltello" class="w-10">
                        <div class="">Stima Raccolta: <span
                                th:text="${#dates.format(zolla.getRaccolta(), 'yyyy-MM-dd')}"></span></div>
                    </div>
                    <div class="flex flex-row items-center gap-4 self-center">
                        <div class="">Stato: <span th:text="${zolla.getStato()}"></span></div>
                        <div th:classappend="'c100 p' + ${zolla.calcolaPercentualeCrescita()} + ' green aspect-square'">
                            <span th:text="${zolla.calcolaPercentualeCrescita()}">45%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>

                    <a th:href="'/user/raccogliNellaZolla/'+${zolla.getId()}" class="px-4 py-2 bg-orange-200 text-red-400 font-semibold text-lg rounded-full" th:if="${zolla.isDayRaccolta()}">Raccogli Ortaggi</a>



                </div>
                <!--Parte Centrale  -->
                <div class="flex flex-col items-center justify-center ">
                    <div class="text-3xl text-verde1"><span th:text="${zolla.getNome()}"></span></div>
                    <div class="aspect-[193/125] w-32 my-12"
                         th:insert="~{/components/orto/_zollaDiTerreno :: terra(ortaggio=${zolla.getOrtaggio()},id='1',noSelect='true')}"></div>
                    <div class="">Tipo terreno: <span th:text="${zolla.getTipoTerreno()}"></span></div>
                </div>
                <!--Parte Destra  -->
                <div class="justify-self-end flex flex-col gap-4 text-verde1 text-xl md:text-2xl ">
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/timer.svg" alt="icona timer" class="w-10">
                        <div class="">Scadenza:Abbonamento alla zolla di 90 Giorni
                            <!--                             <span   th:text="${#dates.format(zolla.getDataScadenza(), 'yyyy-MM-dd')}"></span></div>--></div>
                    </div>
                    <div class="flex flex-row items-end gap-4">
                        <img src="/icons/calendar1.svg" alt="icona calendar" class="w-10">
                        <div th:text="'In tuo possesso da ' + ${zolla.getGiorniPossesso()} + ' giorni'"></div>
                    </div>
                    <button type="button" class="info bg-blue-500 text-white px-4 py-2 rounded-full" th:data-ortaggio="${zolla.getOrtaggio()}">Consigli</button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

        <div id="descriptionModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white rounded-lg p-6 w-full max-w-md mx-2">
                <span class="closeDesc cursor-pointer text-gray-500 hover:text-gray-900 float-right text-xl">&times;</span>
                <h2 class="text-2xl font-bold mb-4">Descrizione Ortaggio</h2>
                <div id="descriptionContent" class="text-left mb-4">

                </div>
                <button type="button" class="closeDesc bg-red-500 text-white px-4 py-2 rounded">Chiudi</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var descriptions = {
                    'Carote': 'Le carote sono radici commestibili, ricche di vitamine e ottime crude o cotte. Consigli: Pianta le carote in terreni ben drenati e assicurati che ricevano molta luce solare.',
                    'Patate': 'Le patate sono tuberi nutrienti, molto versatili in cucina e facili da coltivare. Consigli: Pianta le patate in primavera e mantieni il terreno umido.',
                    'Pomodori': 'I pomodori sono frutti succosi, ideali per insalate, salse e molto altro. Consigli: Assicurati che i pomodori ricevano almeno 6 ore di luce solare diretta al giorno.',
                    'Cipolle': 'Le cipolle sono bulbi aromatici, essenziali in molte ricette per il loro sapore unico. Consigli: Pianta le cipolle in terreni ricchi di nutrienti e ben drenati.',
                    'Peperoni': 'I peperoni sono frutti croccanti e colorati, ottimi crudi o cotti. Consigli: Pianta i peperoni in una posizione soleggiata e proteggili dai venti forti.'
                };


                $('.info').on('click', function() {
                    var ortaggio = $(this).data('ortaggio');
                    var description = descriptions[ortaggio];
                    $('#descriptionContent').text(description);
                    $('#descriptionModal').removeClass('hidden');
                });


                $('.closeDesc').on('click', function() {
                    $('#descriptionModal').addClass('hidden');
                });
            });
        </script>
    </div>


    <div class="bg-gradient-to-b h-52 w-full  from-[#96BA14] to-[#007231]"></div>
    <!--    BG Orto Terra -->
    <div class="w-full">
        <img class="w-full" src="/bg/bgOrtoTerra.png" alt="Sfondo di un paesaggio"/>
    </div>

    <div class="bg-[#38231E] min-h-screen w-full">
        <div class="container lg:px-32 px-4 mx-auto mx-auto flex flex-col items-center">
            <div class="text-4xl text-giallo1 mb-4">Lista Zolle Libere:</div>
            <div th:each="zolla, iStat : ${zolleDelUtente}" class="mt-4">
                <div th:if="${zolla.getOrtaggio() == null}"
                     th:id="'desc-zolla-'+${zolla.getId()}" class="w-full rounded-3xl border-rosso1 border-8 bg-[#F4F4F4] p-8 text-center text-3xl transition-all duration-300
                   grid grid-cols-1 md:grid-cols-3 justify-items-center place-items-center">
                    <!--Parte Sinistra  -->
                    <div class="flex flex-col gap-4 text-verde1 text-xl md:text-2xl "></div>
                    <!--Parte Centrale  -->
                    <div class="flex flex-col items-center justify-center ">
                        <div class="text-2xl text-verde1"><span th:text="${zolla.getNome()}"></span></div>
                        <div class="aspect-[193/125] w-32 my-12"
                             th:insert="~{/components/orto/_zollaDiTerreno :: terra(ortaggio=${zolla.getOrtaggio()},id='1',noSelect='true')}"></div>
                        <div class="">Tipo terreno: <span th:text="${zolla.getTipoTerreno()}"></span></div>
                    </div>
                    <!--Parte Destra  -->
                    <div class="justify-self-end flex flex-col items-center justify-center gap-4 text-verde1 text-xl md:text-2xl ">
                        <img alt="icona pianta" src="/icons/piantina.svg" class="w-32">
                        <div th:id="'piantaSuQuestaZolla-'+${zolla.getId()}" class="text-center px-4 py-2 cursor-pointer rounded-full bg-green-400 text-verde1 text-md pianta-button">Pianta su questa Zolla di Terreno</div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div id="plantModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
                <div class="bg-white rounded-lg p-6 w-full max-w-md mx-2">
                    <span class="close cursor-pointer text-gray-500 hover:text-gray-900 float-right text-xl">&times;</span>
                    <h2 class="text-2xl font-bold mb-4">Scegli cosa piantare</h2>
                    <form id="plantForm" action="" method="get">
                        <label for="plantSelect" class="block text-left mb-2">Seleziona un ortaggio:</label>
                        <select id="plantSelect" name="plant" class="block w-full p-2 border rounded mb-4">
                            <option value="Carote">Carote</option>
                            <option value="Patate">Patate</option>
                            <option value="Pomodori">Pomodori</option>
                            <option value="Cipolle">Cipolle</option>
                            <option value="Peperoni">Peperoni</option>
                        </select>
                        <div class="flex justify-end space-x-4">
                            <button type="button" class="cancel bg-red-500 text-white px-4 py-2 rounded">Annulla</button>
                            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Piantare</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $("[id^='zolla-']").click(function () {
                let idCliccato = $(this).attr('id');
                let idDaTrovare = "#desc-" + idCliccato;
                $('html, body').animate({
                    scrollTop: $(idDaTrovare).offset().top
                }, 1000);
                $(idDaTrovare).css("background-color", "#BAEBB9"); // Evidenzia il div
                setTimeout(function () {
                    $(idDaTrovare).css("background-color", "#F4F4F4"); // Rimuove lo stile CSS
                }, 1500);
            });

            var currentZollaId = null;

            // Quando si clicca sul div con classe "pianta-button"
            $('.pianta-button').on('click', function() {
                // Ottieni l'id dinamico dal div cliccato
                var buttonId = $(this).attr('id');
                currentZollaId = buttonId.split('-')[1]; // Estrai l'ID della zolla

                // Mostra il modale
                $('#plantModal').removeClass('hidden');
            });

            // Quando si clicca sulla X per chiudere il modale
            $('.close, .cancel').on('click', function() {
                // Nasconde il modale
                $('#plantModal').addClass('hidden');
            });

            // Gestione dell'invio del form
            $('#plantForm').on('submit', function(event) {
                event.preventDefault(); // Previene l'invio standard del form
                // Ottieni il valore dell'ortaggio selezionato
                var selectedPlant = $('#plantSelect').val();

                // Costruisci l'URL dell'azione con l'id dinamico e l'ortaggio selezionato
                var actionUrl = '/user/piantaNellaZolla/' + currentZollaId + '?plant=' + selectedPlant;

                // Imposta l'azione del form e invia il form
                $(this).attr('action', actionUrl);
                this.submit();
            });
        });
    </script>

</div>
</div>
</body>
</html>