<div layout:fragment="contenuto" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="/utils/layout">
    <div class="container mx-auto relative">
        <a class="absolute left-4 top-4" href="/no-user/forum">Torna hai post</a>
        <!--        Sezione Post-->
        <div class="grid grid-cols-1 mt-8 max-w-[500px] mx-auto bg-orange-200  rounded-3xl pb-4">
            <div class="bg-bianco1 rounded-3xl flex flex-col items-center w-full p-4 mb-4">
                <div class="flex flex-col w-full">
                    <div class="flex flex-row justify-between">
                        <div class="text-blue-500 font-medium text-lg" th:text="'@' + ${post.getUsername()}"></div>
                        <div class="bg-giallo1 px-2 py-1 rounded-full font-medium text-lg" th:text="${post.getTipo()}"></div>
                    </div>
                    <div class="text-black font-medium text-lg mt-4" th:text="${post.getTitolo()}"> </div>
                </div>
                <!--                Stacchetto-->
                <div class="w-full h-2 bg-rosso1 rounded-full my-4"></div>
                <!--                Corpo-->
                <div class="w-full text-lg text-black " th:text="${post.getDescrizione()}">  </div>
            </div>
            <!--            Sezione Commenti-->
            <div class="w-full flex flex-col px-4" th:each="commento : ${commenti}">
                <div class="flex flex-row justify-between" >
                    <div class="text-lg text-blue-500 font-medium" th:text="'@' + ${commento.getUsername()}">  </div>
                    <div class="text-lg text-black font-normal" th:text="${#dates.format(commento.getDataCreazione(), 'dd-MM-yyyy HH:mm')}"> </div>
                </div>
                <div class="text-md text-black break-all " th:text="${commento.getDescrizione()}"></div>
                <div class="rounded-full h-2 bg-[#c27bed] my-4"></div>
            </div>

            <form class="flex flex-row gap-4 items-center justify-between px-4" action="/api/post/aggiungiCommento" method="post">
                <input class="border-2 border-green-400 w-full bg-bianco1 h-10 px-5 pr-16 rounded-full text-sm focus:outline-none"
                       type="search" name="commentoPost" placeholder="Scrivi un commento...">
                <input type="hidden" th:value="${post.getId()}" name="postId">
                <button class="bg-verdeSuccessoBG px-2 py-1 rounded-full font-medium text-verde1 text-lg" type="submit">Pubblica
                </button>
            </form>
        </div>
    </div>

