<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Planet Express</title>
    <link rel="icon" type="image/x-icon" href="/icon.png">
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="/global.css">
</head>

<body class="bg-gradient-to-b from-cyan-100 to-green-100 min-h-screen w-full">
<header class="w-full flex flex-row justify-center">
    <div class="titolo2 flex flex-row items-center">
        <a class="image-button" href="/">
            <img src="/icon.png" alt="Logo PlanetExpress">
        </a>
        <h1 class="text-2xl font-bold">PlanetExpress</h1>
    </div>
    <button class="login-btn  absolute right-3 rounded-full" onclick="window.location.href='/login'">Login</button>
</header>
<div class="" layout:fragment="contenuto"></div>
</body>

</html>