<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Planet Express</title>
    <!--    Favicon   -->
    <link rel="icon" type="image/x-icon" href="/icon.png">

    <!--    Css   -->
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="/global.css">

    <!--    Font   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Quicksand:wght@300..700&family=Titan+One&display=swap"
          rel="stylesheet">

    <!--    Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body class="bg-bianco2 min-h-screen w-full">
<header class="w-full flex flex-row justify-between items-center bg-verde1 px-4 py-2">
    <a class="flex flex-row items-center" href="/">
        <img src="/icon.png" alt="Logo PlanetExpress" class="w-[48px] mr-2">
        <h1 class="text-2xl font-medium">PlanetExpress</h1>
    </a>
    <div>
        <!--/*@thymesVar id="Utente" type="com.univaq.TestAgile.model.Utente"*/-->
        <a th:href="'/'+${Utente.getTipoUtente().toLowerCase()}+'/dashboard'" th:if="${Utente != null}" class="flex flex-row items-center gap-2">
           <span>Ciao, <span th:text="${Utente.getNome()}"></span></span>
            <?xml version="1.0" encoding="utf-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF7DF"  class="h-8 w-8 " viewBox="0 0 24 24"><path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
        </a>
        <button th:if="${Utente == null}"
                class="rounded-full px-2 py-0.5 font-medium text-lg bg-verdeSuccessoBG text-verde1"
                onclick="window.location.href='/login'">Login
        </button>
    </div>
</header>
<div class="" layout:fragment="contenuto"></div>
</body>

</html>