<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Planet Express</title>
    <!--    Favicon   -->
    <link rel="icon" type="image/x-icon" href="/icon.png">

    <!--    Css   -->
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="/css/global.css">

    <!--    Font   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Quicksand:wght@300..700&family=Titan+One&display=swap"
          rel="stylesheet">

    <!--    Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/anime.min.js"></script>
</head>

<body class="bg-bianco2 min-h-screen w-full">
<header class="w-full flex flex-row justify-between items-center bg-verde1 px-4 py-2">
    <a class="flex flex-row items-center" href="/">
        <img src="/icon.png" alt="Logo PlanetExpress" class="w-[48px] mr-2">
        <h1 class="text-2xl font-medium">PlanetExpress</h1>
    </a>
    <div>
        <!--/*@thymesVar id="Utente" type="com.univaq.TestAgile.model.Utente"*/-->
        <a th:if="${Utente != null}" th:href="'/'+${Utente.getTipoUtente().toLowerCase()}+'/dashboard'"  class="flex flex-row items-center gap-2">
           <span>Ciao, <span th:text="${Utente.getNome()}"></span></span>
            <?xml version="1.0" encoding="utf-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF7DF"  class="h-12 w-12 "  data-name="Layer 1" viewBox="-1.6 -3.2 35.2 43.2" x="0px"
                 y="0px">
                <defs>
                    <style>
                        .cls-1 {
                            stroke-width: 0px;
                        }
                    </style>
                </defs>
                <path class="cls-1"
                      d="m13.74,4.36h-6.94c-1.65,0-3,1.35-3,3v6.94c0,1.65,1.35,3,3,3h6.94c1.65,0,3-1.35,3-3v-6.94c0-1.65-1.35-3-3-3Zm1,9.94c0,.55-.45,1-1,1h-6.94c-.55,0-1-.45-1-1v-6.94c0-.55.45-1,1-1h6.94c.55,0,1,.45,1,1v6.94Z" />
                <path class="cls-1"
                      d="m23.95,8.56h-2.74c-1.65,0-3,1.35-3,3v2.74c0,1.65,1.35,3,3,3h2.74c1.65,0,3-1.35,3-3v-2.74c0-1.65-1.35-3-3-3Zm1,5.74c0,.55-.45,1-1,1h-2.74c-.55,0-1-.45-1-1v-2.74c0-.55.45-1,1-1h2.74c.55,0,1,.45,1,1v2.74Z" />
                <path class="cls-1"
                      d="m23.95,18.83h-2.74c-1.65,0-3,1.35-3,3v2.74c0,1.65,1.35,3,3,3h2.74c1.65,0,3-1.35,3-3v-2.74c0-1.65-1.35-3-3-3Zm1,5.74c0,.55-.45,1-1,1h-2.74c-.55,0-1-.45-1-1v-2.74c0-.55.45-1,1-1h2.74c.55,0,1,.45,1,1v2.74Z" />
                <path class="cls-1"
                      d="m13.74,18.83h-2.74c-1.65,0-3,1.35-3,3v2.74c0,1.65,1.35,3,3,3h2.74c1.65,0,3-1.35,3-3v-2.74c0-1.65-1.35-3-3-3Zm1,5.74c0,.55-.45,1-1,1h-2.74c-.55,0-1-.45-1-1v-2.74c0-.55.45-1,1-1h2.74c.55,0,1,.45,1,1v2.74Z" />
            </svg>
       </a>
        <button th:if="${Utente == null}"
                class="rounded-full px-2 py-0.5 font-medium text-lg bg-verdeSuccessoBG text-verde1"
                onclick="window.location.href='/login'">Login
        </button>
    </div>
</header>
<div class="" layout:fragment="contenuto"></div>
</body>

</html>