<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/utils/layout">
<head>
    <meta charset="UTF-8"/>
</head>

<body layout:fragment="contenuto">
<div class="text-black font-semibold gap-5 flex mt-4 flex-col items-center justify-center text-4xl" >
    <h1>Test Dati Dinamici</h1>
    <ul class="text-2xl text-green-600 font-medium">
        <li th:each="dato : ${testDatiEsempio}" class="">
            <span th:text="${dato.nome}"></span>
            <span th:text="${dato.testo}"></span>
        </li>
    </ul>
</div>
</body>
</html>