<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>
<header>
    <div class="titolo">
        <img src="/icon.png" alt="Logo PlanetExpress">
        <h1>PlanetExpress</h1>
    </div>
    <button class="login-btn" onclick="window.location.href='pagina_login.html'">Login</button>
</header>
<div class="container">
    <div class="big-title">COLTIVA NEL TUO ORTO!!!</div>
    <div class="btn-container">
        <button class="custom-btn" onclick="window.location.href='pagina_candidatura_referenti.html'">Candidati come REFERENTE</button>
        <button class="custom-btn" onclick="window.location.href='pagina_login.html'">Coltiva nel tuo ORTO</button>
    </div>
    <div class="events">
        <div class="btn-container">
            <a href="pagina_eventi.html"><button class="btn events-forum-btn">Eventi</button></a>
        </div>
        <div class="event-preview">
            <h3>Roma</h3>
            <p>Descrizione dell'evento a ROMA.</p>
        </div>
        <div class="event-preview">
            <h3>Urbino</h3>
            <p>Descrizione dell'evento a Urbino.</p>
        </div>
    </div>
    <div class="forum">
        <div class="btn-container">
            <a href="pagina_forum.html"><button class="btn events-forum-btn">Forum</button></a>
        </div>
        <div class="forum-preview">
            <h3>Cibo</h3>
            <p>Sezione dedicata a discutere di ricette, piante commestibili, e altro.</p>
        </div>
        <div class="forum-preview">
            <h3>Consigli</h3>
            <p>Sezione dedicata a chiedere e dare consigli sulla coltivazione.</p>
        </div>
        <div class="forum-preview">
            <h3>Esperienze</h3>
            <p>Sezione dedicata a condividere esperienze di coltivazione.</p>
        </div>
    </div>
</div>
</body>
</html>