<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/utils/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanetExpress</title>

    <link rel="stylesheet" href="/css/splide.min.css">
    <link rel="stylesheet" href="/css/splide-core.min.css">

    <script src="/js/splide.min.js"></script>

</head>
<body>
<div layout:fragment="contenuto">
    <!--    <img class="absolute h-screen w-screen object-cover top-0 left-0" src="/bg/bgGrass.jpg"  alt="img orto 1" />-->
    <!--/*@thymesVar id="Utente" type="com.univaq.TestAgile.model.Utente"*/-->
    <div class="container lg:px-32 pt-8 text-center mx-auto z-10 relative bg-bianco2">
        <!--        Title -->
        <div class="mx-4 lg:mx-32 z-10">
            <img src="/bg/titleHome.svg" alt="Title Coltiva nel tuo orto" class="w-full z-10">
        </div>


        <!--  Slider  -->
        <section class="splide mt-12" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list rounded-3xl">
                    <li class="splide__slide"><img src="/img/orto%20(1).jpg" alt="img orto 1"
                                                   class=" h-[400px] w-full object-cover rounded-3xl"></li>
                    <li class="splide__slide"><img src="/img/orto%20(2).jpg" alt="img orto 2"
                                                   class=" h-[400px] w-full object-cover rounded-3xl"></li>
                    <li class="splide__slide"><img src="/img/orto%20(3).jpg" alt="img orto 3"
                                                   class=" h-[400px] w-full object-cover rounded-3xl"></li>
                    <li class="splide__slide"><img src="/img/orto%20(5).jpg" alt="img orto 3"
                                                   class=" h-[400px] w-full object-cover rounded-3xl"></li>
                    <li class="splide__slide"><img src="/img/orto%20(6).jpg" alt="img orto 3"
                                                   class=" h-[400px] w-full object-cover rounded-3xl"></li>
                </ul>
            </div>
        </section>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var splide = new Splide('.splide', {
                    type: 'loop',
                    perPage: 1,
                    autoplay: true,
                });
                splide.mount();
            });
        </script>

        <div class="max-w-[350px] flex flex-col items-center justify-center my-32 w-full mx-auto">
            <!-- Button inizia a coltivare -->
            <a href="/login" th:if="${Utente == null}"
               class="flex flex-row items-center gap-2 px-4 py-2 bg-verde4 text-white rounded-full font-medium text-xl boxShadowHomeButtonVerde">
                <img src="/icons/farmer1.svg" alt="Icona Farmer" class="w-12 ">
                Inizia a coltivare</a>

            <!-- Button Candidati come referente -->
            <a href="/no-user/form-richiesta-orto" th:if="${Utente == null}"
               class="flex flex-row items-center gap-2 px-4 py-2 bg-rosso1 text-verde1 rounded-full boxShadowHomeButtonRosso font-medium text-xl mt-12">
                <img src="/icons/corona.svg" alt="Icona Farmer" class="w-12 ">
                Condividi il tuo orto e' diventa referente</a>
        </div>
    </div>


    <!--        Stacchetto Home 1-->
    <div class="w-full mt-32">
        <img src="/bg/homeStack1.png" alt="Stacchetto Home 1" class="w-full ">
    </div>
    <div class="bg-rosso1 h-full py-4 px-4 min-h-screen">
        <div class="container text-center mx-auto">

            <!--        Eventi-->
            <h6 class="mt-16 mx-14 text-4xl text-left text-verde1 font-extrabold mb-0 ">Eventi Proposti</h6>

            <div class="mx-10 flex flex-row justify-around rounded-3xl bg-gialloSecondarioBG border-verde1 border-2">
                <div class="my-5 flex flex-col bg-bianco1 border-2 border-verde1 max-w-[200px] rounded-3xl"
                     th:each="evento : ${EventiNormali}">

                    <a th:href="${'/no-user/mostraDettagliEvento/'+evento.getId()}"
                       class="transition w-full h-full  border-verde1 no-underline  ">
                        <img class="rounded-t-3xl aspect[3/4] object-cover" th:src="${evento.getLink_img()}" alt="img"/>

                        <div class=" px-2 text-xl pt-2 pb-5 text-verde1 font-bold text-center"
                             th:text="${evento.nomeEvento}">
                        </div>
                    </a>
                </div>
            </div>


            <h6 class="mt-16 mx-14 text-4xl text-left text-verde1 font-extrabold mb-0 ">Post nel Forum</h6>
            <a href="/no-user/forum" class="bg-celeste1 text-verde1 px-3 py-2 rounded-full">Vai al Forum</a>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-4 gap-4" id="posts-container">
                <div class="bg-bianco1 rounded-3xl flex flex-col items-center w-full p-4" th:each="post : ${ListaPost}">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between">
                            <div class="text-blue-500 font-medium text-lg" th:text="'@'+${post.username}"></div>
                            <div class="bg-giallo1 px-2 py-1 rounded-full font-medium text-lg" th:text="${post.tipo}">
                                Categoria
                            </div>
                        </div>
                        <div class="text-black font-medium text-lg mt-4" th:text="${post.titolo}"></div>
                    </div>
                    <div class="w-full h-2 bg-rosso1 rounded-full my-4"></div>
                    <div class="w-full text-lg text-black" th:text="${post.descrizione}"></div>
                    <div class="w-full flex flex-row justify-between mt-3">
                        <a class="bg-gialloSecondarioBG px-2 py-1 rounded-full font-medium text-verde1 text-lg"
                           th:href="'/no-user/forum/'+${post.id}">Visualizza Commenti</a>
                        <a class="bg-verdeSuccessoBG px-2 py-1 rounded-full font-medium text-verde1 text-lg"
                           th:href="'/no-user/forum/'+${post.id}">Commenta</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-rosso1 w-full">
            <img src="/bg/footerTemporaneo.png" alt="PianteFooter" class="w-full ">
        </div>

    </div>
</div>
</body>
</html>