<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/utils/layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div layout:fragment="contenuto">
    <div class="flex items-center justify-center mt-2 flex-col gap-5">
        <div class="text-4xl font-bold uppercase">Home</div>
        <a href="/salvaCliente" class="text-2xl text-gray-800 font-semibold hover:text-red-500 focus:text-red-500">Salva
            il cliente nel database</a>
        <a href="/db" class="text-2xl text-gray-800 font-semibold hover:text-red-500 focus:text-red-500">Pagina con i
            dati dal Database</a>
        <a href="/db" class="text-2xl text-gray-800 font-semibold hover:text-red-500 focus:text-red-500"></a>

        <a href="/form-richiesta-orto-referente"
           class="middle none center rounded-lg bg-orange-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-orange-500/20 transition-all hover:shadow-lg hover:shadow-orange-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
           data-ripple-light="true">
            Diventa Referente e Condividi il tuo Orto
        </a>
    </div>

</div>
</body>
</html>